<!DOCTYPE html>
<html>
<head>
  <title>Live Analytics Dashboard</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Live Engagement Dashboard</h1>
  <pre id="data">Waiting for updates...</pre>

  <script>
    const token = prompt("Enter Admin JWT:");

    const socket = io("/", {
        auth: { token }
    });

    socket.on("statsUpdate", data => {
      document.getElementById("data").innerText =
        JSON.stringify(data, null, 2);
    });

    socket.on("connect_error", err => {
      alert("Socket Error: " + err.message);
    });
  </script>
</body>
</html>
